name: linter


on:

  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: run lint
        run: npx eslint .
